body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.distance {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 2rem;
}

.container {
  width: 100%;
  height: 100vw;
  position: relative;
  columns: 2 auto;
  display: flex;
}

.map {
  height: 100%;
  width: 100%;
  position: 'fixed';
  left: 20;
  top: 20;
}
